################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/ArchitectureByDisruptorPattern/bin/Debug/net5.0
/ArchitectureByDisruptorPattern/obj
/ArchitectureByDisruptorPattern.Tests/bin/Debug/net5.0
/ArchitectureByDisruptorPattern.Tests/obj
